body {
}

.titleSection{
    /*border:solid;
    border-color: black;
    border-width: 2px;*/
    width: auto;
    height: auto;
    overflow: hidden;
    padding: 10px;
}
.imageLogo {
   float:left;
   height:auto;
    /*border: solid;
    border-color: black;
    border-width: 2px;*/
   margin-left:20%;
}

.titlePage {
    margin-top:1%;
    margin-right: 40%;
    float: right;
    /*border: solid;
    border-color: black;
    border-width: 2px;*/
}

.formSection {
    padding-top: 1%;
    width: 55%;
    margin: 0 auto;
    border: solid;
    border-color: black;
    border-width: 2px;
    align-content:center;
}

.gamerTagSection {
    text-align: center;
    width: 25%;
    margin: 0 auto;
    /*border: solid;
    border-color: black;
    border-width: 2px;*/
    padding: 1%;
}

.clothingSection {
    text-align:center;
    /*border: solid;
    border-color: black;
    border-width: 2px;*/
}

.sizeSection{
    text-align: center;
}

.dropDownSection {
    text-align: center;
    /*border: solid;
    border-color: black;
    border-width: 2px;*/
}

.printLocationSection {
    text-align:center;
    /*border: solid;
    border-color: black;
    border-width: 2px;*/
}

.confirmationSection{
    text-align: center;
}