body {
}

.titleSection{
    /*border:solid;
    border-color: black;
    border-width: 2px;*/
    width: auto;
    height: auto;
    overflow: hidden;
    padding: 10px;
}
.imageLogo {
   float:left;
   height:auto;
    /*border: solid;
    border-color: black;
    border-width: 2px;*/
   margin-left:20%;
}

.titlePage {
    margin-top:1%;
    margin-right: 40%;
    float: right;
    /*border: solid;
    border-color: black;
    border-width: 2px;*/
}

.formSection {
    padding-top: 1%;
    padding-bottom:1%;
    width: 55%;
    margin: 0 auto;
    border: solid;
    border-color: black;
    border-width: 2px;
    align-content:center;
}

.gamerTagSection {
    text-align: center;
    width: 25%;
    margin: 0 auto;
    /*border: solid;
    border-color: black;
    border-width: 2px;*/
    padding: 1%;
}

.clothingSection {
    text-align:center;
    /*border: solid;
    border-color: black;
    border-width: 2px;*/
}


.dropDownSection {
    text-align: center;
    overflow: hidden;
    /*border: solid;
    border-color: black;
    border-width: 2px;*/
}

.sizeSection {
    text-align: center;
    display:inline-block;
    float:left;
    margin-left:10%;
    /*border: solid;
    border-color: red;
    border-width: 2px;*/
}

.clothingColorSection {
    text-align: center;
    display: inline-block;
    /*border: solid;
    border-color: red;
    border-width: 2px;*/
}

.printColorSection {
    text-align: center;
    display: inline-block;
    float: right;
    margin-right: 10%;
    /*border: solid;
    border-color: red;
    border-width: 2px;*/
}


.printLocationSection {
    text-align:center;
    /*border: solid;
    border-color: black;
    border-width: 2px;*/
}

.sleeveSection {
    /*border: solid;
    border-color: black;
    border-width: 2px;*/

}

.leftSleeveSection {
    text-align: center;
    display: inline-block;
    float: left;
    margin-left: 10%;
    /*border: solid;
    border-color: red;
    border-width: 2px;*/
}

.rightSleeveSection {
    text-align: center;
    display: inline-block;
    float: right;
    margin-right: 10%;
    /*border: solid;
    border-color: red;
    border-width: 2px;*/
}

.fontSection {
    text-align: center;
}

.commentSection {
    text-align: center;
}

.customerInfoSection {
    /*border: solid;
    border-color: red;
    border-width: 2px;*/
    text-align: center;
    overflow: hidden;
}

.phoneNumberSection {
    text-align: center;
    display: inline-block;
    float: left;
    margin-left: 25%;
}

.ticketNumberSection {
    text-align: center;
    display: inline-block;
    float: right;
    margin-right: 25%;
}

.confirmationSection {
    text-align: center;
}

.price {
    padding: 1%;
    display:inline-block;
    /*border: solid;
    border-color: black;
    border-width: 2px;*/
}