@using KusteezFormApp.Models

@model FormDetails
@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/index.css" />

<div class="titleSection" >
    <div class="imageLogo">
    <img src="~/images/kusteez.jpeg" height="100" width="100"/>
        </div>
    <div class="titlePage">
        <h3>Print your Gamer Tag on a clothing of your choice</h3>
    </div>
</div>

<div class="formSection">
    @using (Html.BeginForm("Submit", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken();
        @Html.ValidationSummary(true);

        <div class="editor-label">
            Gamer Tag
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.gamerTag)
        </div>

        <button type="submit" value="submit">SUBMIT</button>

    }
</div>